.add-form-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 500px;
  border-radius: 5px;
  background-color: white;  
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .add-form-card {
    width: 300px;
  }
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.input-group {
  input, span, select {
    width: 100%;
  }
}
