* {
  box-sizing: border-box;
}

.header {
  text-align: center;
}

label {
  display: inline-block;
  width: 100px;
  flex: 0 0 100px;
}

input, select {
  width: 300px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-group {
  display: flex;
  margin-bottom: 5px;
}
